<div class='container'>
<div class='row'>
    <div class='col-sm-8'>
        <h1> Edit Profile </h1>
        <form method='post' action='/users/<%= current_user.id %>'>
        <input type="hidden" name="_method" value="patch">
            <input type='hidden' name="authenticity_token" value='<%= form_authenticity_token %>'>

            <div class="form-group <%= flash[:edithasError] %>">
            <label class="control-label" for='user[name]'>Name :</label>
            <input class="form-control"  type='text' name='user[name]' value="<%= current_user.name %>">
            <% if flash[:edit] %>
            <% flash[:edit].each do |field,value| %>
                <% if field=='name' %>
                <% value.each do |error| %>
                <span class='small text-danger'><%= field.capitalize %> <%= error %> : </span>
                <% end %>
                <% end %>
            <% end %>
            <% end %>
            </div>


            <div class="form-group <%= flash[:edithasError] %>">
            <label class="control-label" for='dob'>Date of Birth :</label>
            <input class="form-control"  type='date' name='user[dateOfBirth]' value="<%= current_user.dateOfBirth %>">
            <% if flash[:edit] %>
            <% flash[:edit].each do |field,value| %>
                <% if field=='dateOfBirth' %>
                <% value.each do |error| %>
                <span class='small text-danger'> Date of Birth <%= error %> </span>
                <% end %>
                <% end %>
            <% end %>
            <% end %>
            </div>

            <input class="btn btn-primary" type='submit' value='Update'>
        </form>
    </div>
</div>
</div>